@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var userEmail = User.Identity.Name;
}
<h3>Welcome to the secret page</h3>
<p>Hello @userEmail! If you see this, then you are authenticated.</p>